/Server/nbproject/private/
/Client/nbproject/private/
/Server/build/
/Server/nbbuild/
/Server/dist/
/Server/nbdist/
/Server/.nb-gradle/
/Server/pat3.db
/Client/build/
/Client/nbbuild/
/Client/dist/
/Client/nbdist/
/Client/.nb-gradle/